header {text-align: center;}

main {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

main .card-container {
    width: 33%;
    border: 5px solid black;
    flex: 1 1 0;
    padding: 10px;
    margin: 40px;
}

.card-header {
    text-align: center;

}

.idnumber {
    text-align: center;
    font-weight: bold;
}

.email {
    background-color: rgb(220, 220, 220);
    padding: 3px;
}

.extracontent {
    font-weight: bold;
}