<div class="card-container">
    <div class="card-header">
        <div class="card-title name">
            <h2>{{ name }}</h2>
        </div>
            <div class="row-content-intern">
                <h4><i class="fas fa-glasses"></i> {{ role }}</h4>
        </div>
    </div>
    <div class="idnumber">
            <p>ID# {{ id }}</p>
    </div>
    <div class="email">
        <div class="emaillink">
            <p><a class="intern-email" href="mailto:{{ email }}">Email: {{ email }}</a></p>
        </div>
    </div>
        <div class="extracontent">
            <p>Github: {{ github }}</p>
        </div>
    </div>
</div>